# behat.yml
default:
  suites:
    first:
      mink_session: default
      mink_javascript_session: selenium2
  translation:
    locale: en
  extensions:
    Behat\MinkExtension:
      base_url: http://egorov.cms.local
      sessions:
        default:
          goutte: ~
        selenium2:
          selenium2:
            wd_host: "http://localhost:8643/wd/hub"
imports:
  - behat.local.yml

phantomjs:
  extensions:
    Behat\MinkExtension:
      base_url: 'http://test.local'
      selenium2:
        wd_host: "http://localhost:8643/wd/hub"
